@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

:root {
  --primary-color-dark-theme: #101010;
  --secondary-color-dark-theme: #ef3340;
  --bg-dark-color: #121212;
  --secondary-hover-color-dark-theme: #ef333fa5;
  --text-color-dark-theme: #ffffff;
  --text-hover-color-dark-theme: #ffffffa4;

  --primary-color-light-theme: #ffffff;
  --secondary-color-light-theme: #444ce7;
  --bg-light-color: #f5f5f5;
  --secondary-hover-color-light-theme: #444ce7b9;
  --text-color-light-theme: var(--primary-color-dark-theme);
  --text-hover-color-light-theme: #101010b8;
}

.lightTheme {
  --dots-color: var(--secondary-color-light-theme);
}

.darkTheme {
  --dots-color: var(--secondary-color-dark-theme);
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: row;
}

.sideBarContainer {
  height: 100vh;
  min-width: 250px;
  background-color: var(--primary-color-dark-theme);
  box-shadow: 8px -1px 20px 0px rgb(0 0 0 / 53%);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.2s;
  z-index: 10;
}

.sideBarContainer > * {
  margin-left: 2rem;
}

.accountWhatchListWrap,
.categorieWrap {
  width: 100%;
}

.logoContainer {
  width: 100%;
  height: 5em;
  background-image: url(src/images/logoDarkMode.png);
  background-size: contain;
  background-repeat: no-repeat;
  transition: 0.2s;
  cursor: pointer;
}

.logoIcon {
  width: 7em;
  flex-shrink: 0;
  flex-grow: 0;
}

.watchListLinkContainer,
.accountLinkContainer,
.viewModeContainer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  cursor: pointer;
}

.watchListLinkContainer:hover,
.accountLinkContainer:hover,
.viewModeContainer:hover {
  opacity: 0.7;
  transition: 0.2s;
}

.categorieContainer {
  height: 18rem;
  width: 12rem;
  overflow-y: scroll;

  -ms-overflow-style: none;
  scrollbar-width: none;
}
.categorieContainer::-webkit-scrollbar {
  display: none;
}

/* .categorieContainer::-webkit-scrollbar {
  width: 8px;
}
.categorieContainer::-webkit-scrollbar-track {
  box-shadow: inset 2px 0px 9px 20px #121212;
  border-radius: 10px;
  background: var(--bg-dark-color);
}
.categorieContainer::-webkit-scrollbar-thumb {
  background: black;
  border-radius: 10px;
} */

.categorieContainer p {
  color: var(--text-color-dark-theme);
  font-size: 1rem;
  cursor: pointer;
  text-decoration: none;
  font-weight: bold;
  transition: 0.2s;
}

.categorieContainer p:hover {
  opacity: 0.7;
}

.viewModeContainer {
  width: 100%;
}

.watchListIcon {
  width: 1.5em;
  height: 1.5em;
  background-image: url(src/images/watchListIcon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.accountIcon {
  width: 1.5em;
  height: 1.5em;
  background-image: url(src/images/accountIcon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.viewModeIcon {
  width: 1.5em;
  height: 1.5em;
  background-image: url(src/images/sunIcon.png);
  background-size: 100%;
  background-repeat: no-repeat;
  transition: 0.2s;
}

.accountLogo,
.textAccount,
.textWatchList,
.textViewMode {
  font-size: 1.2rem;
  font-weight: bold;
}

.textWatchList {
  color: var(--text-color-dark-theme);
  transition: 0.2s;
}

.textAccount,
.textViewMode {
  color: var(--secondary-color-dark-theme);
  transition: 0.2s;
}

.textCategorie {
  color: rgba(255, 255, 255, 0.68);
  font-size: 0.9rem;
  transition: 0.2s;
}

.temp {
  height: 100vh;
  width: 100vw;
  color: var(--text-color-dark-theme);
  background-color: var(--bg-dark-color);
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  transition: 0.2s;
}

.billboardPosterWrap {
  width: 78.5vw;
  height: 55vh;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.bgBillboardPoster {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  height: 100%;
  filter: blur(5px) brightness(0.5);
  transform: scale(1.1);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.billboardPoster {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.posterLogo {
  width: 25%;
  height: 25%;
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translate(5%, -5%);
}

.contentPage {
  filter: brightness(0.5);
}

.trailerBtnWatchListBtnWrap {
  width: 18rem;
  height: 2rem;
  /* background-color: rgba(0, 0, 0, 0.514); */
  position: absolute;
  bottom: 5%;
  left: 2%;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.guardaTrailerBtn {
  background-color: #ffffff;
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: bold;
  width: 9.313rem;
  height: 1.813rem;
  cursor: pointer;
  color: var(--primary-color-dark-theme);
  transition: 0.2s;
}
.guardaTrailerBtn:hover {
  opacity: 0.7;
  transform: scale(1.05);
}
.guardaTrailerBtn:active {
  transform: scale(0.9);
}

.watchListBtn {
  background-color: rgba(0, 0, 0, 0.614);
  border: 1px solid #ffffff;
  border-radius: 2px;
  font-weight: bold;
  width: 9.313rem;
  height: 1.813rem;
  cursor: pointer;
  color: var(--text-color-dark-theme);
  transition: 0.2s;
}
.watchListBtn:hover {
  transform: scale(1.05);
  background-color: #ffffff;
  color: var(--primary-color-dark-theme);
}
.watchListBtn:active {
  transform: scale(0.9);
}

.genreList {
  width: 100%;
  height: 3rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.genreList div {
  display: inline-flex;
  padding: 4px 17px;
  justify-content: center;
  align-items: center;
  border: 1px solid;
  border-radius: 31px;
  height: 1.1rem;
  margin-left: 1rem;
  transition: 0.2s;
}
.genreList div:hover {
  background-color: rgba(255, 255, 255, 0.144);
}

.descrizioneContainer {
  width: 100%;
  /* background-color: red; */
  display: flex;
  flex-direction: column;
}

.contenOverview {
  margin-left: 1rem;
}

.infoContainer {
  width: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: space-between;
  /* margin-bottom: 3rem; */
}

.castContainer {
  margin-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.voteContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.voteContainer div {
  font-size: 3em;
}

.languageContainer {
  margin-right: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}

.sliderSlick {
  width: 78.5vw;
  height: 55vh;
}

.slick-prev {
  left: 5% !important;
  z-index: 1000;
}
.slick-next {
  right: 5% !important;
  z-index: 1000;
}
.slick-prev:before,
.slick-next:before {
  color: var(--dots-color);
}
.slick-dots li.slick-active button:before {
  color: var(--dots-color);
}
.slick-dots li button:before {
  color: var(--dots-color);
}

.slick-track {
  display: flex;
  gap: 1rem;
  justify-content: flex-start;
}

.slick-list {
  overflow: visible;
}

.slick-list:hover {
  z-index: 100;
}

.sliderRow .slick-prev {
  left: 2% !important;
  z-index: 1000;
  position: absolute;
  color: var(--dots-color);
  /* background-color: #000000b3;
  background-size: 10px 10px;*/
  width: 3rem;
  height: 100%;
}

.sliderRow .slick-next {
  right: 0% !important;
  z-index: 1000;
  position: absolute;
  color: var(--dots-color);
  /* background-color: #000000b3;
  background-size: 10px 10px;*/
  width: 3rem;
  height: 100%;
}

.navBarContainer {
  width: 100vw;
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 18px 20px 0px rgb(0 0 0 / 53%);
  z-index: 100;
}

.menuLogoWrap {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 15px;
}

.menuIconContainer {
  width: 1.5em;
  height: 1.5em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
  cursor: pointer;
  transition: 0.2s;
}

.logoIconContainer {
  width: 5.5em;
  height: 3.5em;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  transition: 0.2s;
}

.main-item {
  background-color: #fff;
  width: 78.5vw;
  height: 55vh;
}

.background-masker {
  background-color: #fff;
  position: absolute;
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0;
  }
  100% {
    background-position: 800px 0;
  }
}

.animated-background {
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #eeeeee 8%, #bbbbbb 18%, #eeeeee 33%);
  background-size: 800px 104px;
  width: 78.5vw;
  height: 55vh;
  position: relative;
}

.sliderRow {
  /* margin-left: 30px; */
  width: 60rem;
  height: 10rem;
}

.sliderRow a {
  text-decoration: none;
}

/* kk */
.card {
  background-color: #101010;
  height: 8rem;
  width: 15rem;
  transition: transform 0.2s;
  cursor: pointer;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  margin-right: 15px;
  z-index: 100;
}
.card:hover {
  height: 16rem;
  transform: scale(1.1);
}

.cardHovered {
  display: none;
}

.card:hover .cardHovered {
  display: flex;
  flex-direction: column;
}

.cardPoster {
  height: 8rem;
  width: 15rem;
  transition: 0.2s;
}

.cardPoster img {
  width: 100%;
  height: 100%;
  transition: 0.2s;
}

.buttonsContainer {
  height: 4rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.playBtn {
  background-position: center left;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 4rem;
  margin-left: 15px;
  transition: 0.2s;
}

.addBtn {
  background-position: center right;
  background-size: 40px 40px;
  background-repeat: no-repeat;
  width: 7.5rem;
  height: 4rem;
  margin-right: 15px;
  transition: 0.2s;
  z-index: 10000;
}

.textsContainer {
  height: 3rem;
  width: 15rem;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  /* background-color: red; */
}

.textsContainer p {
  font-size: 0.8em;
  font-weight: bold;
  margin-left: 15px;
}

.textsContainer span {
  transition: 0.2s;
}

.sliderLoading {
  width: 60rem;
  height: 10rem;
  background-color: #101010;
  margin-left: 1rem;
}

.altroCard {
  background-color: #101010;
  height: 8rem;
  width: 15rem;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
}

.genrePage {
  width: 100vw;
  display: grid;
  grid-template-columns: 19.5% 19.5% 19.5% 19.5%;
  margin-left: 1rem;
  margin-bottom: 7rem;
}

.chartPopularContent,
.chartMovies,
.chartTvShows {
  width: 80%;
  height: 30rem;
  background: rgba(0, 0, 0, 0.39);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(9.7px);
  -webkit-backdrop-filter: blur(9.7px);
  border: 1px solid transparent;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}

.ReviewContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.correlati {
  width: 100vw;
  display: grid;
  grid-template-columns: 19.5% 19.5% 19.5% 19.5%;
  margin-left: 1rem;
  margin-bottom: 7rem;
}

.popupDialog {
  background-color: var(--primary-color-dark-theme);
  width: 40rem;
}

.p-dialog-title {
  font-weight: bold;
  font-size: 1.875em;
  padding: 10px 10px;
}

.p-dialog-header-icons {
  background-image: url(/src/images/closeBtnLight.png);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 1.313rem;
  height: 1.313rem;
  margin: 10px;
}

.p-icon {
  visibility: hidden;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }

  .temp {
    align-items: center;
  }
}
